
{% extends "index.html" %}
{% load static %}
{% block body %}

<section class="super_user_dash shadow-sm rounded p-2">
    <div class='dash-box'>
        <h1> EMPLOYEE </h1>
        <p>Dashboard / {{request.user}}</p>
     </div>
</section>

<!--lead-->
<section class='lead'>
    <nav class="navbar navbar-light bg-light shadow-sm">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <button class='btn btn-primary' data-toggle="modal" data-target="#exampleModalCenter">Add</button>
    </nav>



    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Pleace select</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body justify-content-between w-100">
                    <a href="{% url 'lead_add' %}" class='btn btn-primary mr-2'>Lead</a>
                    <a href="#" class='btn btn-primary'>Helper</a>
                </div>
               
            </div>
        </div>
    </div>

   <!-- lisd list -->
   <section class='lead_list'>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Lead Name</th>
            <th scope="col">Lead id</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Contact Status</th>
          </tr>
        </thead>
        <tbody>
            <!--Getting data from Lead-->
            {% for i in lead_list %}
            <tr>
                <th scope="row">{{i.first_name}}</th>
                <td>{{i.lead_id}}</td>
                <td>{{i.primary_phone}}</td>
                <td>{{i.lead_status}}</td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
</section>
</section>

{% endblock body %}