{% extends "index.html" %}
{% load static %}
{% block body %}

<section class="super_user_dash shadow-sm rounded p-2">
  <div class='dash-box'>
    <h1> SUPERUSER </h1>
    <p>Dashboard / {{request.user}}</p>
  </div>
</section>

<!-- lead -->

<section class='lead'>
  <nav class="navbar navbar-light bg-light shadow-sm">
    <form class="form-inline" method="POST">
      {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" name='search' placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <button class='btn btn-primary' data-toggle="modal" data-target="#exampleModalCenter">Add</button>
  </nav>



  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Pleace select</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body justify-content-between w-100">
          <a href="{% url 'lead_add' %}" class='btn btn-primary mr-2'>Lead</a>
          <a href="#" class='btn btn-primary'>Helper</a>
          <a href="{% url 'excel_file_lead_upload' %}" class='btn btn-primary'>Lead(Excel)</a>
        </div>

      </div>
    </div>
  </div>

  <!-- lisd list -->
  <section class='lead_list shadow p-2'>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Lead Name</th>
          <th scope="col">Lead Id</th>
          <th scope="col">Lead Email</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Contact Status</th>
        </tr>
      </thead>
      <tbody>
        <!--Getting data from Lead-->
        {% for i in lead_list %}
        <tr>
          <th scope="row">
            <!--Url for lead details-->
            <i class="fa-solid fa-user"></i>
            <a href="{% url 'lead_view' i.id %}">{{i.first_name|capfirst}}</a>
          </th>
          <td>{{i.lead_id}}</td>
          <td>{{i.email_id}}</td>
          <td>{{i.primary_phone}}</td>
          <td>
            <form action="{% url 'lead_status_update' i.id %}" class="lead-status-fm" method="post">
              {% csrf_token %}
              <select name="lead-status-inp" class='form-control lead-status-inp'>
                <option value="pending" {% if i.lead_status == "pending" %} selected {% endif %}>Pending</option>
                <option value="first_contact" {% if i.lead_status == 'first_contact' %} selected {% endif %}>First Contact
                </option>
                <option value="follow_up" {% if i.lead_status == 'follow_up' %} selected {% endif %}>Follow Up</option>
                <option value="failed" {% if i.lead_status == 'failed' %} selected {% endif %}>Failed</option>
                <option value="conformed" {% if i.lead_status == 'conformed' %} selected {% endif %}>Conformed</option>
              </select>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</section>


<script>
  let lead_status_inp = document.querySelectorAll('.lead-status-inp')
  let lead_status_fm = document.querySelectorAll('.lead-status-fm')

  for (let i = 0; i < lead_status_inp.length; i++) {

    lead_status_inp[i].onchange = function () {
      lead_status_fm[i].submit()
    }
  }
</script>
{% endblock body %}