{% load static %}
{% block body %}

    {% include "msg.html" %}

    <section class="super_user_dash shadow-sm rounded p-2">
        <div class='dash-box'>
            <h1> HELPERS </h1>
            <p>Dashboard / {{ request.user }}</p>
        </div>
    </section>

    <!--helper-->
    <section class='helper'>
    
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Please select</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body justify-content-between w-100">
                        <a href="{% url 'helper_add' %}" class='btn btn-primary mr-2'>Helper</a>
                        <a href="{% url 'excel_file_helper_upload' %}" class='btn btn-primary'>Helper(Excel)</a>
                    </div>

                </div>
            </div>
        </div>

        <form action="{% url 'excel_file_helper_upload_duplicate_accept' %}" id="duplicates" method="post">
            {% csrf_token %}

            <button class='btn btn-outline-success m-2'>Duplicate Entries <b>{{ length }}</b></button>
            
            <input type="text" name="duplicates_entries" value="{{ data }}" style="visibility: hidden">
            
            <input type='submit' class='btn btn-info' value="Accept">
            <a type='button' href="{% url 'helper_list' %}" class='btn btn-outline-primary mx-2' id="discard">Discard</a>
        
            <!-- Helper list -->
            <section class='helper_list shadow p-2'>
                <table class="table" id="myTable">
                    <thead>
                    <tr>
                        <th scope="col">Helper Name</th>
                        <th scope="col">Contact Number</th>
                        <th scope="col">Job Role 2</th>
                        <th scope="col">Helper Type</th>
                        <th scope="col">Helper Address / Locality</th>
                        <th scope="col">Currently Working In (Society)</th>
                        <th scope="col">Listed By</th>
                        <th scope="col">Language Known</th>
                        <th scope="col">Age</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Do you work on Sundays?</th>
                        <th scope="col">Do you have a smartphone?</th>
                        <th scope="col">Do you use WhatsApp</th>
                        <th scope="col">Available Hours Start Time 1</th>
                        <th scope="col">Available Hours End Time 1</th>
                        <th scope="col">Available Hours Start Time 2</th>
                        <th scope="col">Available Hours End Time 2</th>
                        <th scope="col">Available Hours Start Time 3</th>
                        <th scope="col">Available Hours End Time 3</th>
                        <th scope="col">Available Hours Start Time 4</th>
                        <th scope="col">Available Hours End Time 4</th>
                        <th scope="col">Charges</th>
                        <th scope="col">Preferences</th>
                        <th scope="col">ID Proof Status</th>
                        <th scope="col">Aadhar Verification</th>
                        <th scope="col">ID Proof Copy (Drive Link - Public)</th>
                        <th scope="col">Other ID proof</th>
                        <th scope="col">Police Verification</th>
                        <th scope="col">Date of 1st engagement</th>
                        <th scope="col">Previous Employer Name</th>
                        <th scope="col">Previous Employer Contact No</th>
                        <th scope="col">Previous Employer Society</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Remarks</th>
                        <th scope="col">Comments</th>
                        <th scope="col">Attempt 2</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--Getting data from helper-->
                    {% for i in data %}
                        {% if not i.phone_valid %}
                            <tr>
                                <td class="table_col">{{ i.first_name|capfirst }}</td>
                                <td class="table_col">{{ i.primary_phone }}</td>
                                <td class="table_col">{{ i.job_role_2 }}</td>
                                <td class="table_col">{{ i.availability_status }}</td>
                                <td class="table_col">{{ i.helper_locality }}</td>
                                <td class="table_col">{{ i.society }}</td>
                                <td class="table_col">{{ i.listed_by }}</td>
                                <td class="table_col">{{ i.language_known }}</td>
                                <td class="table_col">{{ i.age }}</td>
                                <td class="table_col">{{ i.gender }}</td>
                                <td class="table_col">{{ i.sunday }}</td>
                                <td class="table_col">{{ i.smartphone }}</td>
                                <td class="table_col">{{ i.whatsApp }}</td>
                                <td class="table_col">{{ i.start_time_1 }}</td>
                                <td class="table_col">{{ i.end_time_1 }}</td>
                                <td class="table_col">{{ i.start_time_2 }}</td>
                                <td class="table_col">{{ i.end_time_2 }}</td>
                                <td class="table_col">{{ i.start_time_3 }}</td>
                                <td class="table_col">{{ i.end_time_3 }}</td>
                                <td class="table_col">{{ i.start_time_4 }}</td>
                                <td class="table_col">{{ i.end_time_4 }}</td>
                                <td class="table_col">{{ i.charges }}</td>
                                <td class="table_col">{{ i.preferences }}</td>
                                <td class="table_col">{{ i.id_proof_status }}</td>
                                <td class="table_col">{{ i.aadhar_verification }}</td>
                                <td class="table_col">{{ i.id_pdf }}</td>
                                <td class="table_col">{{ i.other_id_proof }}</td>
                                <td class="table_col">{{ i.police_verification }}</td>
                                <td class="table_col">{{ i.engagement_date }}</td>
                                <td class="table_col">{{ i.previous_employer_name }}</td>
                                <td class="table_col">{{ i.previous_employer_contact }}</td>
                                <td class="table_col">{{ i.previous_employer_society }}</td>
                                <td class="table_col">{{ i.rating }}</td>
                                <td class="table_col">{{ i.remarks }}</td>
                                <td class="table_col">{{ i.additional_comment }}</td>
                                <td class="table_col">{{ i.attempt_2 }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </section>
        </form>
    </section>

    <script>

        // if status change autosubmit 
        let helper_status_inp = document.querySelectorAll('.helper-status-inp')
        let helper_status_fm = document.querySelectorAll('.helper-status-fm')

        for (let i = 0; i < helper_status_inp.length; i++) {
            helper_status_inp[i].onchange = function () {
                helper_status_fm[i].submit()
            }
        }


        // sorting column logic 
        var currentColumn = -1;
        var sortOrder = 1;

        function sortTable(columnIndex) {
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.getElementById("myTable");
            switching = true;

            if (columnIndex === currentColumn) {
                sortOrder *= -1; // Change the sort order if the same column is clicked
            } else {
                currentColumn = columnIndex;
                sortOrder = 1; // Reset sort order if a different column is clicked
            }

            while (switching) {
                switching = false;
                rows = table.getElementsByTagName("tr");

                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;

                    x = rows[i].getElementsByClassName("table_col")[columnIndex];
                    y = rows[i + 1].getElementsByClassName("table_col")[columnIndex];

                    if (sortOrder === 1) {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }

                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        }
    </script>
{% endblock body %}