{% extends 'index.html' %}

{% block body %}
<table>
    <thead>
        <tr>
            <th>name</th>
            <th>details</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>helper id</td>
            <td>{{helper.helper_id}}</td>
        </tr>

        <tr>
            <td>email</td>
            <td>{{helper.email_id}}</td>
        </tr>

        <tr>
            <td>first name</td>
            <td>{{helper.first_name}}</td>
        </tr>

        <tr>
            <td>middle name</td>
            <td>{{helper.middle_name}}</td>
        </tr>

        <tr>
            <td>last name</td>
            <td>{{helper.last_name}}</td>
        </tr>

        <tr>
            <td>Dob</td>
            <td>{{helper.dob}}</td>
        </tr>

        <tr>
            <td>helper status</td>
            <td>{{helper.helper_status}}</td>
        </tr>

        <tr>
            <td>primary ph.</td>
            <td>{{helper.primary_phone}}</td>
        </tr>

        <tr>
            <td>secondary ph.</td>
            <td>{{helper.secondary_phone}}</td>
        </tr>

        <tr>
            <td>Inserted date</td>
            <td>{{helper.create_date}}</td>
        </tr>


        <!--address details-->
        <tr>
            <td colspan="2">
                <h6><u>address details</u></h6>
            </td>
        </tr>

        <tr>
            <td>street</td>
            <td>{{helper.street}}</td>
        </tr>

        <tr>
            <td>city</td>
            <td>{{helper.city}}</td>
        </tr>

        <tr>
            <td>Zipcode</td>
            <td>{{helper.zipcode}}</td>
        </tr>

        <tr>
            <td>State</td>
            <td>{{helper.state}}</td>
        </tr>


        <tr>
            <td>country</td>
            <td>{{helper.country}}</td>
        </tr>

        <tr>
            <td>Locality</td>
            <td>{{helper.locality}}</td>
        </tr>

        <tr>
            <td>Near by</td>
            <td>{% if not helper.near_by %}Current location {% else %}Range in <b>5 k.m</b> {% endif %}</td>
        </tr>

         <!--Availability Status -->
         <tr class="mt-2">
            <td colspan="2">
                <h6><u>Availability Status </u></h6>
            </td>
        </tr>

        <tr>
            <td> work experience</td>
            <td>{{helper.work_experience}}</td>
        </tr>
        
        <tr>
            <td> Availability status </td>
            <td>{{helper.availability_status}}</td>
        </tr>

        <tr>
            <td> Availability status week</td>
            <td>{{helper.availability_status_week}} day in week</td>
        </tr>

        <!--id proved-->
       {% if helper.id_type and helper.id_pdf %}
        <tr>
            <td colspan="2">
                <h6><u>Id proved details </u></h6>
            </td>
          
        </tr>

        <tr>
            <td> Id prove type </td>
            <td><b>{{helper.id_type}}</b></td>
        </tr>

        <tr>
            <td> PDF</td>
            <td>
                <a href="{{helper.id_pdf.url}}" class="btn btn-outline-primary btn-sm" download>download </a>
                <a href="{{helper.id_pdf.url}}" target="_blank" class="btn btn-outline-success btn-sm">view</a>
            </td>
          
        </tr>
        {% endif %}

        <!--Additional comment -->
        <tr class="mt-2">
            <td colspan="2">
                <h6><u>Additional comments</u></h6>
            </td>
        </tr>

        <tr>
            <td> additional comment : </td>
            <td>{{helper.additional_comment}}</td>
        </tr>

        <!--Job  role -->
        <tr class="mt-2">
            <td colspan="2">
                <h6><u>Job role</u></h6>
            </td>
        </tr>
        <tr>
            <td>Helper job role : </td>
            <td>
                {% for i in job_role %}
                {{i.job}},
                {% endfor %}
            </td>
        </tr>

        <!--Additional details -->
        <tr class="mt-2">
            <td colspan="2">
                <h6><u>Additional details</u></h6>
            </td>
        </tr>

        <tr>
            <td> helper Preferred Language : </td>
            <td>
                {% for i in language %}
                {{i.language}},
                {% endfor %}
            </td>
        </tr>


        <tr>
            <td>Helper Skill : </td>
            <td>
                {% for i in skill %}
                {{i.skill}},
                {% endfor %}
            </td>
        </tr>


        <tr>
            <td>Helper Additional Skill : </td>
            <td>
                {% for i in additional_skill %}
                {{i.additional_skill}},
                {% endfor %}
            </td>
        </tr>


    </tbody>
</table>
<a href="{% url 'helper_pdf' helper.id %}" target="_blank" class='btn btn-outline-success'>View pdf</a>
<a href="{% url 'helper_list' %}" class="btn btn-secondary">Back</a>
{% endblock body %}