{% extends 'index.html' %}

{% block body %}
<table>
    <thead>
       <tr>
        <th>name</th>
        <th>details</th>
       </tr>
    </thead>
    <tbody>

        <tr>
            <td>lead id</td>
            <td>{{lead.lead_id}}</td>
        </tr>


        <tr>
            <td>first name</td>
            <td>{{lead.first_name}}</td>
        </tr>

        <tr>
            <td>middle name</td>
            <td>{{lead.middle_name}}</td>
        </tr>

        <tr>
            <td>last name</td>
            <td>{{lead.last_name}}</td>
        </tr>

        <tr>
            <td>lead status</td>
            <td>{{lead.lead_status}}</td>
        </tr>

        <tr>
            <td>primary ph.</td>
            <td>{{lead.primary_phone}}</td>
        </tr>

        <tr>
            <td>secondary ph.</td>
            <td>{{lead.secondary_phone}}</td>
        </tr>

        <tr>
            <td>email</td>
            <td>{{lead.email_id}}</td>
        </tr>

        <!--address details-->
        <tr>
            <td colspan="2"><h6><u>address details</u></h6></td>
        </tr>

        <tr>
            <td>street</td>
            <td>{{lead.street}}</td>
        </tr>

        <tr>
            <td>city</td>
            <td>{{lead.city}}</td>
        </tr>

        <tr>
            <td>Zipcode</td>
            <td>{{lead.zipcode}}</td>
        </tr>

        <tr>
            <td>state</td>
            <td>{{lead.status}}</td>
        </tr>

        <tr>
            <td>country</td>
            <td>{{lead.country}}</td>
        </tr>

          <!--Additional comment -->
          <tr class="mt-2">
            <td colspan="2"> <h6><u>Additional comments</u></h6></td>
        </tr>

        <tr>
            <td> additional comment</td>
            <td>{{lead.additional_comment}}</td>
        </tr>

        <!--Additional details -->
        <tr class="mt-2">
            <td colspan="2"> <h6><u>Additional details</u></h6></td>
        </tr>
       
        <tr>
            <td> Lead Preferred Language : </td>
            <td>
                {% for i in language %}
                   {{i.language}},
                {% endfor %}
            </td>
        </tr>

        <tr>
            <td>Lead Additional Details : </td>
            <td>
                {% for i in additional_details %}
                 {{i.additional_details}},
              {% endfor %}
            </td>
        </tr>
        
    </tbody>
</table>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
{% endblock body %}