{% extends 'index.html' %}

{% block body %}

<!--messages-->
{% include "msg.html" %}

<form action="" method="post" class='shadow p-3'>
    {% csrf_token %}

    <label for="">Customer Name</label>
    <input type="text" class="form-control" value="{{name}}" name='name' required>

    <label for="">Phone</label>
    <input type="text" class="form-control" value={{phone}} name='phone' required>

    <label for="">Email</label>
    <input type="email" class="form-control" value="{{email}}" name='email' required>

    <label for="">Address</label>
    <input type="text" class="form-control" value="{{addr}}" name='addr' required>

    <label for="">Society</label>
    <select name="locality" id="" class='form-control' required>
        <option value selected>-------------</option>
        {% for i in locations %}
        <option value="{{i.Localities}}" {% if locality == i.Localities %} selected {% endif %}>{{i.Localities}}</option>
        {% endfor %}
    </select>

    <label for="">Job Role</label>
    <select name="availability" id="" class='form-control' required>
       
        <option value="live_in" {% if availability == 'live_in' %}selected{% endif %}>Live in</option>
        <option value="on_demand" {% if availability == 'on_demand' %}selected{% endif %} >On demand</option>
        <option value="full_time" {% if availability == 'full_time' %}selected{% endif %} >Full time</option>
        <option value="part_time" {% if availability == 'part_time' %}selected{% endif %}>Part time</option>
        <option value="misc" {% if availability == 'misc' %}selected{% endif %}>Misc</option>
    </select>

    <label for="" class='mt-3'><b>Near by : </b></label>
    <input type="checkbox" {% if near_by == 'TRUE' %} checked {% endif %} name="near_by" id="" class='mt-3'>

    <br><br>

    <button type='submit' class='btn btn-primary my-2'>Save</button>
    <a href="{% url 'lead_list' %}" class='btn btn-secondary'>Back</a>
</form>
{% endblock body %}