{% extends 'index.html' %}
{% load static %}
{% block body %}
<section class='lead-list'>

  <!--nav-->
  <nav class="navbar navbar-light bg-light shadow-sm">
    <form class="form-inline" method="POST">
      <input type="hidden" name="csrfmiddlewaretoken"
        value="0ifKCxlesfEJyMoTGQtrHgYAKcr4g88M60ZMKErZqIz9Q9cqkuotM2McygB8jVHl">
      <input class="form-control mr-sm-2 w-75" type="search" name="search" placeholder="Search" id="filterInput"
        aria-label="Search">
      <!-- Select column to filter -->
      <select id="filterColumn" class="form-control">
        <option value="1">Name</option>
        <option value="2">phone</option>
        <option value="3">email</option>
        <option value="4">id</option>
      </select>

      <a type='button' href="{% url 'lead_list' %}" class='btn btn-outline-primary mx-2' id="all_data">All</a>
    </form>
    <div class="row">
      <select id="filterStatus" class="form-control" onchange="filterTable2()">
        <option value="" disabled selected>Filter Status</option>
        <option value="pending">Pending</option>
        <option value="first contact">First contact</option>
        <option value="follow up">Follow up</option>
        <option value="failed">Failed</option>
        <option value="confirmed">Confirmed</option>
    </select>
    </div>
    <a href="{% url 'excel_file_locality_upload' %}" class='btn btn-primary mr-2'>Add Society</a><br><br>
    <button class='btn btn-primary' data-toggle="modal" data-target="#exampleModalCenter2">Add</button> 
   
  </nav>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Please select</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body justify-content-between w-100">
      <a href="{% url 'lead_add' %}" class='btn btn-primary mr-2'>Lead</a>
      <a href="{% url 'excel_file_lead_upload' %}" class='btn btn-primary'>Lead(Excel)</a>
    </div>

  </div>
</div>
</div>
  <!--messages-->
  {% include "msg.html" %}

  <button class='btn btn-outline-success m-2'>Total  <b>{{length}}</b></button>
  <div class="table-div p-3 shadow">
    <table class="table sortable" id="data-table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Date <i class="fa-solid fa-sort"></i></th>
          <th scope="col">Name <i class="fa-solid fa-sort"></i></th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
          <th scope="col">Id</th>
          <th scope="col">Status</th>
          <th scope="col" >Action</th>
        </tr>
      </thead>
      <tbody>
        {% for i in data %}

        <tr id="itemList">
          <th scope="row">{{forloop.counter}}</th>
          <td>{{i.create_date}}</td>
          <td><a href="{% url 'lead_details' i.id %}">{{i.name}}</a></td>
          <td>{{i.phone}}</td>
          <td>{{i.email_id}}</td>
          <td>{{i.id}}</td>
          <td>
            <form action="{% url 'lead_status_update' i.id %}" class="lead_status_fm" method="post">
              {% csrf_token %}
            <select name="lead_status_inp"  class='form-control status_inp'>
              <option value="pending" {% if i.lead_status == 'pending'  %} selected {% endif %}>Pending</option>
              <option value="first contact" {% if i.lead_status == 'first contact'  %} selected {% endif %}>First contact</option>
              <option value="follow up" {% if i.lead_status == 'follow up'  %} selected {% endif %}>Follow up</option>
              <option value="failed" {% if i.lead_status == 'failed'  %} selected {% endif %}>Failed</option>
              <option value="confirmed" {% if i.lead_status == 'confirmed'  %} selected {% endif %}>Confirmed</option>
            </select>
          </form>
          </td>

          <td>
            <!--edit-->
            <a href="{% url 'lead_edit' i.id %}" class="btn btn-sm btn-primary"><i
                class="fa-solid fa-pen-to-square"></i></a>

            <!--delete-->
            <button type="button" class="btn btn-sm btn-danger" data-toggle="modal"
              data-target="#exampleModal{{forloop.counter}}">
              <i class="fa-solid fa-trash"></i>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{forloop.counter}}" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <span class="text text-danger"><b>Conform remove this data!</b></span>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="{% url 'lead_delete' i.id %}" class="btn btn-danger">Remove</a>

                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}


      </tbody>
    </table>
  </div>
</section>

<script>


  // Get the input element, table, and select element
  const filterInput = document.getElementById('filterInput');
  const table = document.getElementById('data-table');
  const filterColumnSelect = document.getElementById('filterColumn');
  
  // input data empty for all data get 
  document.querySelector("#all_data").addEventListener('click',function(){
    filterInput.value="";
  })
  // Add event listener to the input and select elements to trigger the filtering
  filterInput.addEventListener('keyup', filterTable);
  filterColumnSelect.addEventListener('change', filterTable);
  const filterStatusSelect = document.getElementById('filterStatus');

function filterTable() {
    const filterValue = filterInput.value.toLowerCase();
    const filterColumnIndex = parseInt(filterColumnSelect.value);

    const rows = table.getElementsByTagName('tr');
    for (let i = 1; i < rows.length; i++) {
        const cells = rows[i].getElementsByTagName('td');
        let rowVisible = false;

        for (let j = 0; j < cells.length; j++) {
            const cellText = cells[j].textContent.toLowerCase();

            // Filter based on the selected column
            if (filterColumnIndex === 0 || filterColumnIndex === j) {
                if (cellText.includes(filterValue)) {
                    rowVisible = true;
                    break;
                }
            }

            // Filter based on the selected status
            
        }

        // Show/hide rows based on the filter values
        if (rowVisible) {
            rows[i].style.display = '';
        } else {
            rows[i].style.display = 'none';
        }
    }
}

 
// status update
function filterTable2() {
    const filterStatusValue = filterStatusSelect.value.toLowerCase();

    const rows = table.getElementsByTagName('tr');
    for (let i = 1; i < rows.length; i++) {
        const cells = rows[i].getElementsByTagName('td');
        let rowVisible = false;

        for (let j = 0; j < cells.length; j++) {
          const selectElement = cells[j].querySelector('select');
       
        if (selectElement) {
    const selectedValue = selectElement.value.trim().toLowerCase();
            const cellText = cells[j].textContent.trim().toLowerCase();

            // Filter based on the selected status
            if (j === 5 && selectedValue===filterStatusValue) { // Assuming the status column is at index 5
             
                rowVisible = true;
                break;
            }
          }
      }

        // Show/hide rows based on the filter values
        if (rowVisible) {
            rows[i].style.display = '';
        } else {
            rows[i].style.display = 'none';
        }
    }
} 
 let lead_status_inp = document.querySelectorAll('.status_inp')
  let lead_status_fm = document.querySelectorAll('.lead_status_fm')

  for (let i = 0; i < lead_status_inp.length; i++) {

    lead_status_inp[i].onchange = function () {
      lead_status_fm[i].submit()
    }
  }
 
</script>
<script >

  document.addEventListener('click', function (e) {
    try {
      // allows for elements inside TH
      function findElementRecursive(element, tag) {
        return element.nodeName === tag ? element : findElementRecursive(element.parentNode, tag)
      }
  
      var descending_th_class = ' dir-d '
      var ascending_th_class = ' dir-u '
      var ascending_table_sort_class = 'asc'
      var regex_dir = / dir-(u|d) /
      var regex_table = /\bsortable\b/
      var alt_sort = e.shiftKey || e.altKey
      var element = findElementRecursive(e.target, 'TH')
      var tr = findElementRecursive(element, 'TR')
      var table = findElementRecursive(tr, 'TABLE')
  
      function reClassify(element, dir) {
        element.className = element.className.replace(regex_dir, '') + dir
      }
  
      function getValue(element) {
        // If you aren't using data-sort and want to make it just the tiniest bit smaller/faster
        // comment this line and uncomment the next one
        var value =
          (alt_sort && element.getAttribute('data-sort-alt')) || element.getAttribute('data-sort') || element.innerText
        return value
        // return element.innerText
      }
      if (regex_table.test(table.className)) {
        var column_index
        var nodes = tr.cells
  
        // Reset thead cells and get column index
        for (var i = 0; i < nodes.length; i++) {
          if (nodes[i] === element) {
            column_index = element.getAttribute('data-sort-col') || i
          } else {
            reClassify(nodes[i], '')
          }
        }
  
        var dir = descending_th_class
  
        // Check if we're sorting ascending or descending
        if (
          element.className.indexOf(descending_th_class) !== -1 ||
          (table.className.indexOf(ascending_table_sort_class) !== -1 &&
            element.className.indexOf(ascending_th_class) == -1)
        ) {
          dir = ascending_th_class
        }
  
        // Update the `th` class accordingly
        reClassify(element, dir)
  
        // loop through all tbodies and sort them
        for (var i = 0; i < table.tBodies.length; i++) {
          const org_tbody = table.tBodies[i]
  
          // Get the array rows in an array, so we can sort them...
          var rows = [].slice.call(org_tbody.rows, 0)
  
          var reverse = dir === ascending_th_class
  
          // Sort them using Array.prototype.sort()
          rows.sort(function (a, b) {
            var x = getValue((reverse ? a : b).cells[column_index])
            var y = getValue((reverse ? b : a).cells[column_index])
            var bool = x.length && y.length && !isNaN(x - y) ? x - y : x.localeCompare(y)
            return bool
          })
  
          // Make a clone without content
          var clone_tbody = org_tbody.cloneNode()
  
          // Fill it with the sorted values
          while (rows.length) {
            clone_tbody.appendChild(rows.splice(0, 1)[0])
          }
  
          // And finally replace the unsorted table with the sorted one
          table.replaceChild(clone_tbody, org_tbody)
        }
      }
    } catch (error) {
      // console.log(error)
    }
  })</script>
{% endblock body %}