{% extends 'index.html' %}

{% block body %}

<!--messages-->
{% include "msg.html" %}

<!--basic info-->


<section class="super_user_dash shadow-sm rounded p-2">
    <div class='dash-box'>
        {% if request.user.is_superuser %}
        <h1> LEAD ADD </h1>
        {% else %}
        <h1> EMPLOYEE </h1>
        {% endif %}
        <p>Lead / Lead add</p>
     </div>
</section>

<form action="" method="post" class='shadow p-3'>
    {% csrf_token %}


    <label for="">name</label>
    <input type="text" class="form-control"  name='name' required>

    <label for="">phone</label>
    <input type="text" class="form-control"  name='phone' required>

    <label for="">email</label>
    <input type="email" class="form-control"  name='email' required>

    <label for="">address</label>
    <input type="text" class="form-control"  name='addr' required>
    <button type='submit' class='btn btn-primary my-2'>Create</button>
    <a href="{% url 'lead_list' %}" class='btn btn-secondary'>Back</a>
</form>
{% endblock body %}

