{% extends 'index.html' %}
{% load static %}
{% block body %}
<section class='lead-list'>

  <!--nav-->
  <nav class="navbar navbar-light bg-light shadow-sm">
    <form class="form-inline" method="POST">
      <input type="hidden" name="csrfmiddlewaretoken"
        value="0ifKCxlesfEJyMoTGQtrHgYAKcr4g88M60ZMKErZqIz9Q9cqkuotM2McygB8jVHl">
      <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" id="filterInput"
        aria-label="Search">
      <!-- Select column to filter -->
      <select id="filterColumn" class="form-control">
        <option value="0">Name</option>
        <option value="1">phone</option>
        <option value="2">email</option>
        <option value="3">id</option>
      </select>
    </form>
    <a href="{% url 'lead_add' %}" class="btn btn-primary">Add</a>
  </nav>

  <!--messages-->
  {% include "msg.html" %}

  <div class="table-div p-3 shadow">
    <table class="table" id="data-table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
          <th scope="col">Id</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for i in data %}

        <tr id="itemList">
          <th scope="row">{{forloop.counter}}</th>
          <td><a href="{% url 'lead_details' forloop.counter %}">{{i.name}}</a></td>
          <td>{{i.phone}}</td>
          <td>{{i.email}}</td>
          <td>{{i.id}}</td>
          <td>
            <form action="{% url 'lead_status_update' forloop.counter %}" class="lead_status_fm" method="post">
              {% csrf_token %}
            <select name="lead_status_inp"  class='form-control status_inp'>
              <option value="pending" {% if i.status == 'pending'  %} selected {% endif %}>Pending</option>
              <option value="first contact" {% if i.status == 'first contact'  %} selected {% endif %}>First contact</option>
              <option value="follow up" {% if i.status == 'follow up'  %} selected {% endif %}>Follow up</option>
              <option value="failed" {% if i.status == 'failed'  %} selected {% endif %}>Failed</option>
              <option value="confirmed" {% if i.status == 'confirmed'  %} selected {% endif %}>Confirmed</option>
            </select>
          </form>
          </td>

          <td>
            <!--edit-->
            <a href="{% url 'lead_edit' forloop.counter %}" class="btn btn-sm btn-primary"><i
                class="fa-solid fa-pen-to-square"></i></a>

            <!--delete-->
            <button type="button" class="btn btn-sm btn-danger" data-toggle="modal"
              data-target="#exampleModal{{forloop.counter}}">
              <i class="fa-solid fa-trash"></i>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{forloop.counter}}" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <span class="text text-danger"><b>Conform remove this data!</b></span>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="{% url 'lead_delete' forloop.counter %}" class="btn btn-danger">Remove</a>

                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}


      </tbody>
    </table>
  </div>
</section>

<script>
  // Get the input element, table, and select element
  const filterInput = document.getElementById('filterInput');
  const table = document.getElementById('data-table');
  const filterColumnSelect = document.getElementById('filterColumn');

  // Add event listener to the input and select elements to trigger the filtering
  filterInput.addEventListener('keyup', filterTable);
  filterColumnSelect.addEventListener('change', filterTable);

  function filterTable() {
    const filterValue = filterInput.value.toLowerCase();
    const filterColumnIndex = parseInt(filterColumnSelect.value);

    const rows = table.getElementsByTagName('tr');
    for (let i = 1; i < rows.length; i++) {
      const cells = rows[i].getElementsByTagName('td');
      let rowVisible = false;

      for (let j = 0; j < cells.length; j++) {
        const cellText = cells[j].textContent.toLowerCase();
        if (filterColumnIndex === 0 || filterColumnIndex === j) {
          if (cellText.includes(filterValue)) {
            rowVisible = true;
            break;
          }
        }
      }

      // Show/hide rows based on the filter value
      if (rowVisible) {
        rows[i].style.display = '';
      } else {
        rows[i].style.display = 'none';
      }
    }
  }


  // status update 


  let lead_status_inp = document.querySelectorAll('.status_inp')
  let lead_status_fm = document.querySelectorAll('.lead_status_fm')

  for (let i = 0; i < lead_status_inp.length; i++) {

    lead_status_inp[i].onchange = function () {
      lead_status_fm[i].submit()
    }
  }
 
</script>

{% endblock body %}