{% extends 'index.html' %}
{% block body %}

<!-- message --> 
{% include "msg.html" %}

<!--Excel file upload-->

<form  class='border p-3'  method="post" enctype="multipart/form-data">
  {% csrf_token %}

   <h6>Society Name</h6>
   <input type="text" name='loc_name' value="" required>
   <button type='submit' class='btn btn-info' >Submit</button>
   
   <!--back button-->
   <a href="{% url 'excel_file_locality_upload' %}" class='btn btn-secondary'>Back</a>
</form>


</section>
{% endblock body %}