{% extends 'index.html' %}

{% block body %}
<form action="" method="post" class='shadow p-3'>
    <h3>Password changed form</h3>
    {% include "msg.html" %}
    
    {% csrf_token %}
    <label for="">old password</label>
    <input type="text" name = 'old_password' class='form-control'  required>

    <label for="">new password</label>
    <input type="text" name = 'new_password' class='form-control' pattern="(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter and space are not allow, and at least 8 or more characters" required>

    <label for="">Confirm password</label>
    <input type="text" name = 'conform_password' class='form-control' pattern="(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter and space are not allow, and at least 8 or more characters" required>

    <h5 class="mt-3">Rule for create password</h5>
    <ul>
        <li>atleast one number</li>
        <li>atleast one uppercase</li>
        <li>atleast one lowercase</li>
        <li>minimum length 8</li>
        <li>Space not allowed</li>
    </ul>
    <input type='submit' class='btn btn-primary my-2' value="change password">
</form>
{% endblock body %}

